.post-container h2 {
    color: black;
}

.post {
    width: 500px;
    float: left;
    border: 1px solid #818181;
    border-radius: 5px;
    padding: 10px;
    color: #818181;
    margin: 10px;
}

.post-container {
    width: 1100px;
    height: auto;
}