ion-toolbar{
    --background: transparent;
}

ion-content{
    --background: rgba(237, 242, 245, 0.8);

    form{
        margin-top: 200px;
        display: grid;
        justify-content: center;
    }

    .input_wrap{
        background-color: rgba(255, 255, 255, 0);
        // padding: 50px 0;
    }

    input{
        width: 100%;
        border: none;
        outline: none;
        padding: 10px 20px;
        margin: 5px 0;
        border-radius: 20px;
    }

    ion-button{
        margin-top: 50px;
    }
}